<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Shape
    </title>
    <script src="/src/js/index.js"></script>
    <link rel="stylesheet" href="/src/css/style.css">
</head>

<body>
    <div class="text">
        <h1><b>Shapes Exercise</b></h1>
    </div>
    <div class="container">
        <div id="triangle-up" onclick="ocultar()"></div>
        <div id="square" onclick="ocultar1()"></div>
        <div id="circle" onclick="ocultar2()"></div>
        <div id="button" onclick="mostrar(),mostrar1(), mostrar2()">
            <button>Reset</button>
        </div>
    </div>

</body>

</html>